<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.danstep.aws.model.mapper.S3Mapper">
<!--    <insert id="insertGameUUID" parameterType="gameInfoDto">-->
<!--        insert into games_uuid_info(id, uuid)-->
<!--        values(#{id}, #{uuid})-->
<!--    </insert>-->

<!--    <insert id="insertProfileUUID" parameterType="gameInfoDto">-->
<!--        insert into profiles_uuid_info(id, uuid)-->
<!--        values(#{id}, #{uuid})-->
<!--    </insert>-->

<!--    <select id="getGameUUID" parameterType="string" resultType="string">-->
<!--        select uuid from games_uuid_info-->
<!--        where id = ${id}-->
<!--    </select>-->


</mapper>