<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.danstep.rank.model.mapper.RankMapper">

    <select id="getUserHighScore">
        SELECT COALESCE(MAX(score), -1)
        FROM result_info
        WHERE user_info_id = (SELECT id
                              FROM user_info
                              WHERE username = #{username})
        AND game_info_id = #{gameInfoId}
    </select>

    <insert id="insertRankInfo" parameterType="String" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rank_info (result_info_id)
        VALUES (#{resultInfoId});
    </insert>

    <update id="updateRankInfo">
        UPDATE rank_info
        SET result_info_id = #{resultInfoId}
        WHERE result_info_id = (SELECT id
                                FROM result_info
                                WHERE user_info_id = (SELECT id
                                                      FROM user_info
                                                      WHERE username = #{username})
                                AND game_info_id = #{gameInfoId}
                                AND score = #{oldScore}
                                ORDER BY id ASC
                                LIMIT 1)
    </update>

</mapper>