<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.danstep.result.model.mapper.ResultMapper">

    <resultMap id="getUserResultBasic" type="com.danstep.result.model.dto.GetUserResultDTO">
        <result property="resultInfoId" column="result_info_id" />
        <result property="gameInfoId" column="game_info_id" />
        <result property="resultDate" column="result_date" />

        <result property="score" column="score" />

        <!-- user_info join -->
        <result property="username" column="username" />
        <result property="nickname" column="nickname" />

        <!-- game_info join -->
        <result property="title" column="title" />
    </resultMap>

    <resultMap id="replayBasic" type="com.danstep.result.model.dto.ReplayDTO">
        <result column="game_info_id" property="gameInfoId"/>
        <result column="audio_filename" property="audioFilename"/>
        <result column="game_pose_filename" property="gamePoseFilename"/>
        <result column="background_filename" property="backgroundFilename"/>
        <result column="my_pose_filename" property="myPoseFilename"/>

        <result column="score" property="score"/>
        <result column="perfect" property="perfect"/>
        <result column="great" property="great"/>
        <result column="good" property="good"/>
        <result column="bad" property="bad"/>
        <result column="max_combo" property="maxCombo"/>
    </resultMap>

    <insert id="insertResultInfo" parameterType="com.danstep.result.model.dto.SaveResultDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO result_info (user_info_id, game_info_id, score, perfect, great, good, bad, max_combo)
        SELECT id, #{gameInfoId}, #{score}, #{perfect}, #{great}, #{good}, #{bad}, #{maxCombo}
        FROM user_info
        WHERE username = #{username};
    </insert>

    <insert id="insertResultPose" parameterType="com.danstep.result.model.dto.SaveResultPoseDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO result_pose (result_info_id, pose_filename)
        VALUES (#{resultInfoId}, #{poseFilename});
    </insert>

    <select id="getUserResults" resultMap="getUserResultBasic">
        SELECT ri.id AS result_info_id, ri.game_info_id, ri.result_date,
               ri.score, ui.username, ui.nickname, gi.title
        FROM result_info AS ri
        LEFT JOIN user_info AS ui
          ON ui.username = #{username}
          AND ri.user_info_id = ui.id
        LEFT JOIN game_info AS gi
          ON ri.game_info_id = gi.id
        LEFT JOIN result_pose AS rp
          ON ri.id = rp.result_info_id
        WHERE ri.user_info_id = (SELECT id FROM user_info WHERE username = #{username})
        AND rp.pose_filename IS NOT NULL
        ORDER BY ri.result_date DESC;
    </select>

    <!--  서브쿼리 쓴 이유 : 회원이 로그인 한 채 자신의 resultInfoId가 아닌 값을 불러오는 것을 방지하기 위함  -->
    <select id="getUserReplay" resultMap="replayBasic">
        SELECT ri.game_info_id, gi.audio_filename, gi.background_filename,
               gi.pose_filename AS game_pose_filename,
               rp.pose_filename AS my_pose_filename,
               ri.score, ri.perfect, ri.great, ri.good, ri.bad, ri.max_combo
        FROM result_info AS ri
        LEFT JOIN result_pose AS rp
          ON ri.id = rp.result_info_id
        LEFT JOIN game_info AS gi
          ON ri.game_info_id = gi.id
        WHERE rp.result_info_id = #{resultInfoId}
          AND ri.user_info_id = (SELECT id FROM user_info WHERE username = #{username});
    </select>

    <!--  IS NOT NULL을 하지 않으면 임의로 없는 번호   -->
    <select id="getUserResultPose" resultMap="replayBasic">
        SELECT ri.game_info_id, rp.pose_filename AS my_pose_filename
        FROM result_info AS ri
        LEFT JOIN result_pose AS rp
          ON ri.id = rp.result_info_id
        LEFT JOIN user_info AS ui
          ON ri.user_info_id = ui.id
        WHERE rp.result_info_id = #{resultInfoId}
        AND ui.username = #{username}
    </select>

    <delete id="deleteUserResultPose">
        DELETE FROM result_pose
        WHERE result_info_id = #{resultInfoId};
    </delete>

</mapper>