<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.danstep.result.model.mapper.ResultMapper">

    <resultMap id="resultInfoBasic" type="com.danstep.result.model.dto.ResultInfoDTO">
        <id property="id" column="id" />
        <result property="gameInfoId" column="game_info_id" />
        <result property="resultDate" column="result_date" />
        <result property="score" column="score" />
        <result property="perfect" column="perfect" />
        <result property="great" column="great" />
        <result property="good" column="good" />
        <result property="bad" column="bad" />
        <result property="maxCombo" column="max_combo" />
        <result property="poseFilename" column="pose_filename" />
    </resultMap>

    <insert id="insertResultInfo" parameterType="com.danstep.result.model.dto.SaveResultDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO result_info (user_info_id, game_info_id, score, perfect, great, good, bad, max_combo)
        SELECT id, #{gameInfoId}, #{score}, #{perfect}, #{great}, #{good}, #{bad}, #{maxCombo}
        FROM user_info
        WHERE username = #{username};
    </insert>

    <insert id="insertResultPose" parameterType="com.danstep.result.model.dto.SaveResultPoseDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO result_pose (result_info_id, pose_filename)
        VALUES (#{resultInfoId}, #{poseFilename});
    </insert>

    <select id="getUserResultsByUsername" resultMap="resultInfoBasic">
        SELECT ri.id, ri.game_info_id, ri.result_date, ri.score, ri.perfect,
               ri.great, ri.good, ri.bad, ri.max_combo, rp.pose_filename
        FROM result_info AS ri
        LEFT JOIN result_pose AS rp
        ON ri.id = rp.result_info_id
        WHERE ri.user_info_id = (SELECT id FROM user_info WHERE username = #{username});
    </select>

</mapper>