.body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  width: 360px;
  height: 640px;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-canvas {
  z-index: 1;
  background-color: black;
}

.cam-canvas {
  z-index: 5;
}

.video-canvas {
  z-index: 4;
}

.button {
  z-index: 6;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.cam-video,
.game-video {
  display: none;
}
