.neonButton {
  color: white;
  padding: 10px 16px;
  font-size: 30px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  position: relative;
  z-index: 12;
  font-family: 'neon-text'; /* 이미지에 가까운 폰
  트로 변경 */
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff; /* 텍스트에 네온 효과 적용 */
  animation: neonBlink 4s infinite;
}

.neonButton:hover {
  animation: neonBlink 1s infinite;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff; /* hover 시 더 밝은 보라색으로 변경 */
}

/* chromeButton 스타일 추가 */
.chromeButton {
  border-radius: 50%;
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.chromeButton:hover {
  transform: rotate(360deg); /* hover 시 회전 */
}

.chromeButton:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes neonBlink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3; /* 깜빡임 중간에 약간 어두워짐 */
  }
}
