@keyframes rainbowAnimation {
  0% {
    background-position: 50% 0%;
  }
  20% {
    background-position: 50% 20%;
  }
  40% {
    background-position: 50% 40%;
  }
  60% {
    background-position: 50% 60%;
  }
  80% {
    background-position: 50% 80%;
  }
  100% {
    background-position: 50% 100%;
  }
}

.healthBarContainer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 20px;
  height: 80%;
  background: none; /* Remove the background */
  border: 2px solid white; /* Add a white border */
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.healthBarFill {
  width: 100%;
  background: linear-gradient(180deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 400%;
  border-radius: 13px; /* Adjust border radius to fit inside container */
  animation: rainbowAnimation 10s linear infinite;
}
