html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.main-page-container {
  position: relative;
  width: 100%;
  /* height: calc(100vh - 60px); */
  height: 100vh; /* 전체 화면 크기로 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 193px; 내비바의 높이와 같도록 설정 */
}

.background-video {
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind the main content */
  }
}

.w-scree {
  width: 100%;
}

.h-screen {
  height: 100%;
}