.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .image-item {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  /* MainPage.css */
.main-page-container {
  margin-top: 80px; /* 내비바의 높이와 같도록 설정 */
}

.image-grid {
  width: 100%;
  height: calc(100vh - 80px); /* 내비바 높이를 고려하여 100vh에서 내비바의 높이만큼 빼기 */
  position: relative;
}
