/* NavBar.css */
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6b5b95; /* 네비게이션 바의 배경 색상 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 네비게이션 바에 그림자 추가 */
    transition: top 0.3s ease; /* 애니메이션 효과 추가 */
    padding: 10px 20px; /* 상하 여백 및 좌우 여백 추가 */
    box-sizing: border-box; /* padding을 포함하여 전체 너비를 조정 */
  }
  
  .nav-content {
    display: flex;
    justify-content: space-between; /* 좌우로 퍼지게 함 */
    align-items: center;
    height: 100%;
  }
  
  .left-items {
    display: flex;
    align-items: center;
    gap: 20px; /* 좌측 아이템 사이의 간격 */
  }
  
  .brand-name {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .center-items {
    flex: 1; /* 중앙 아이템이 남은 공간을 차지하도록 설정 */
    display: flex;
    justify-content: center; /* 중앙에 배치 */
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 20px; /* 링크 사이의 간격 */
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
  }
  
  .separator {
    color: white;
  }
  
  .trophy-icon {
    height: 24px;
    width: 24px;
    margin-left: 5px;
  }
  
  .right-items {
    display: flex;
    align-items: center;
    gap: 10px; /* 우측 아이템 사이의 간격 */
  }
  
  .nav-button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .profile-button {
    background: white;
    color: gray;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .profile-icon {
    height: 24px;
    width: 24px;
  }
  