.trash-icon {
  transition:
    color 0.3s,
    transform 0.3s;
  color: white;
}

.trash-icon.hover {
  color: red;
}

.replay-icon {
  transition:
    color 0.3s,
    transform 0.3s;
  color: white;
}

.replay-icon:hover {
  color: #44aaff;
}

.input-box {
  border-radius: 5px;
  color: #fff;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.modify-button {
  display: inline-block;
  color: rgb(0, 255, 255);
  font-size: 18px;
  padding: 14px 20px;
  text-transform: uppercase;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border-color: rgb(0, 255, 255);
  border-width: 2px;
  border-radius: 5px;
}

.modify-button:hover {
  background: rgb(0, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow:
    0 0 5px rgb(0, 255, 255),
    0 0 25px rgb(0, 255, 255),
    0 0 50px rgb(0, 255, 255),
    0 0 100px rgb(0, 255, 255);
}

button {
  outline: none;
}

.map-hover {
  border: 1px solid black;
  padding: 0px;
  border-radius: 0px;
  transition:
    border-color 0.2s,
    border-width 0.2s,
    border-radius 0.2s,
    padding 0.2s,
    transform 0.2s; /* 기존 transform 속성 유지 */
}

.map-hover:hover {
  border: 3px solid silver;
  padding: 10px;
  border-radius: 20px;
}
