body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.Neon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.danceroid-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.danceroid-wrapper > :first-child {
  margin : 0px; 
}

.danceroid-wrapper > :last-child {
  margin-left: 0px;
}

.score-container {
 /* margin-left : 50px; */
 margin-right:200px;
}
