html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.ratingContainer {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  margin: 20px 0;
  margin-top: 100px;
  z-index: 3;
  position: relative; /* Lottie 애니메이션을 절대 위치로 설정하기 위해 추가 */
}

.perfectContainer {
  position: relative; /* Lottie 애니메이션의 위치 기준 컨텍스트 설정 */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 2; /* 텍스트가 최상단에 나타나도록 설정 */
}

.ratingText {
  font-size: 24px;
  /* color: var(--rating-color); */
  color: white;
  text-shadow: 
    0 0 5px var(--rating-color), 
    0 0 10px var(--rating-color), 
    0 0 15px var(--rating-color), 
    0 0 20px var(--rating-color), 
    0 0 30px var(--rating-color), 
    0 0 40px var(--rating-color);

  /* 텍스트 외곽선 */
  -webkit-text-stroke: 1px var(--rating-color);
  animation: neon 1.5s ease-in-out infinite alternate, fadeOut 3s forwards;
  z-index: 2; /* 텍스트가 애니메이션 위에 오도록 설정 */
  position: relative; /* z-index 효과를 주기 위해 */
}

.lottieContainer {
  position: absolute; /* perfectContainer 안에서의 절대 위치 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px; /* 애니메이션 크기 조절 */
  height: 150px; /* 애니메이션 크기 조절 */
  pointer-events: none; /* 클릭 불가 설정 */
  z-index: 1; /* 텍스트보다 뒤에 나타나도록 설정 */
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 
      0 0 5px var(--rating-color), 
      0 0 10px var(--rating-color), 
      0 0 15px var(--rating-color), 
      0 0 20px var(--rating-color), 
      0 0 30px var(--rating-color), 
      0 0 40px var(--rating-color);
  }
  50% {
    text-shadow: 
      0 0 10px var(--rating-color), 
      0 0 20px var(--rating-color), 
      0 0 30px var(--rating-color), 
      0 0 40px var(--rating-color), 
      0 0 50px var(--rating-color);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

/* Light effect */
.light {
  position: relative;
  display: inline-block;
}

.light::before {
  position: absolute;
  left: -10%;
  top: 0%;
  width: 120%;
  height: 100%;
  /* 빛색이랑 네온색이랑 맞추기 */
  background: var(--rating-color);
  filter: blur(20px);
  content: "";
  opacity: 0;
  animation: flash 0.5s ease-out alternate infinite;
}

@keyframes flash {
  to {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  animation: flashText 0.5s ease-out alternate infinite;
}

@keyframes flashText {
  to {
    opacity: 0.15;
  }
}
