.score {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  color: white;
  text-shadow:
    0 0 5px #0fa,
    0 0 10px #0fa,
    0 0 15px #0fa,
    0 0 20px #0fa;
}
